
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.card {
    background: #ffffff;
    width: 50%;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(64, 2, 134, 0.15);
    overflow: hidden;
    display: flex;
}


.side-image {
    width: 60%;
    background-position: center;
    transform-origin: center;
}


.card-content {
    padding: 20px;
    width: 55%;
}

.nombre {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    line-height: 1.1;
}

.profesion {
    font-size: 22px;
}

.subtitulo {
    margin: 8px 0 18px;
    font-size: 14px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}


.bank {
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-weight: bold;
    cursor: pointer;
}


.banreservas {
    background: #044d7e;
    color: white;
}

.popular {
    background: #3a7bd5;
    color: #fff;
}

.bhd {
    background: #07fa3f;
    color: white;
}


.info {
    display: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.contacto {
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 768px) {
     .card {
        flex-direction: column;
        width: 100%;
        max-width: none;
        min-height: 100vh;
        height: 80%;
        padding-bottom: 100px;
    }

    .side-image {
        width: 100%;
        height: 220px;
        background-size: 65%;
    }

    .card-content {
        width: 100%;
        text-align: center;
    }
}
